body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgba(108, 219, 247, 0.925);
}
label {
  display: block;
  margin: 10px 0 5px;
}
select, input[type="checkbox"] {
  margin-bottom: 15px;
}
button {
  padding: 10px 15px;
  background: #b621e4cc;
  color: white;
  border: none;
  cursor: pointer;
}
pre {
  background: #f4f4f4;
  padding: 15px;
}

